#title {
    font-size: 50px;
    position: relative;
    top: -15%;
}

.btn.btn-secondary{
    height: 35px;
    width: 90px;
    font-size: 15px;
    color: #cccccc;
}


#page {
    background-color: #262626;
}

.navbar-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.navbar-nav .nav-item {
    font-size: 25px;
    color: #cccccc;
}

#titlesecond {
    color: #cccccc;
    font-size: 30px;
    position: relative;
    bottom: 10px;
}

#carouselExampleControls {
    bottom: 20px;
}

#thymeleafTitle {
    color: #cccccc;
    font-size: 10px;
}

#tableFirstOne {
    position: inherit;


}

#tableFirstTwo {
    position: relative;
    left: 7%;
}

#titlesecondClassics {
    color: #cccccc;
    font-size: 30px;
    position: relative;
    bottom: 10px;
}

.whitespace {
    height: 20px;
}


.cars {
    width: 55%;
    position: relative;
    left: 25%;
    border: 1px;
    border-style:solid;
    border-color:#cccccc;
    padding: 1em;
}

.item {
    border: 1px;
    border-style:solid;
    border-color:#cccccc;
    padding: 1em;
}