#title {
    font-size: 50px;
    position: relative;
    top: -15%;
}

.btn.btn-secondary{
    height: 35px;
    width: 90px;
    font-size: 15px;
    color: #cccccc;
}


#page {
    background-color: #262626;
}

.navbar-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.navbar-nav .nav-item {
    font-size: 25px;
    color: #cccccc;
}

#titlesecond {
    color: #cccccc;
    font-size: 30px;
    position: relative;
    bottom: 10px;
}

#carouselExampleControls {
    bottom: 20px;
}

#thymeleafTitle {
    color: #cccccc;
    font-size: 10px;
}

#tableFirstOne {
    position: inherit;


}

#tableFirstTwo {
    position: relative;
    left: 7%;
}

#titlesecondClassics {
    color: #cccccc;
    font-size: 30px;
    position: relative;
    bottom: 10px;
}

.whitespace {
    height: 20px;
}


.cars {
    width: 55%;
    position: relative;
    left: 25%;
    border: 1px;
    border-style:solid;
    border-color:#cccccc;
    padding: 1em;
}

.item {
    border: 1px;
    border-style:solid;
    border-color:#cccccc;
    padding: 1em;
}


.searchformtable {
    position: relative;
    height: inherit;
    left: 15%;
}

.titleSearchForm {
    padding-bottom:3px;
    font-size: 30px;
    right: 25%;
    position: relative;
}

.statecolumn {
    font-size: 22px;
}



.fuelandtransmissiontype {
    font-size: 18px;
}

.productionyearcolumn {
    font-size: 20px;
    left: 377%;
    bottom: 93px;
}

.vehicleandnumberofdoorscolumn {
    font-size: 20px;
}

.makeandmodelcolumn {
    font-size: 19px;
}

.pricecolumn {
    font-size: 18px;
}

.conditioncolumn {
    font-size: 22px;
}

.searchbutton {
    -moz-box-shadow: 3px 4px 0px 0px darkslategrey;
    -webkit-box-shadow: 3px 4px 0px 0px darkslategrey;
    box-shadow: 3px 4px 0px 0px darkslategrey;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, darkslategrey), color-stop(1, #cccccc));
    background:-moz-linear-gradient(top, darkslategrey 5%, #ccc 100%);
    background:-webkit-linear-gradient(top, darkslategrey 5%, #ccc 100%);
    background:-o-linear-gradient(top, darkslategrey 5%, #ccc 100%);
    background:-ms-linear-gradient(top, darkslategrey 5%, #ccc 100%);
    background:linear-gradient(to bottom, darkslategrey 5%, #ccc 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5',GradientType=0);
    background-color:darkslategrey;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    border:1px solid darkslategrey;
    display:inline-block;
    cursor:pointer;
    color:black;
    font-family:Arial;
    font-size:17px;
    font-weight:bold;
    padding:12px 44px;
    text-decoration:none;
    text-shadow:0px 1px 0px darkslategrey;
}
.searchbutton:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, darkslategrey), color-stop(1, darkslategrey));
    background:-moz-linear-gradient(top,darkslategrey 5%, #ccc 100%);
    background:-webkit-linear-gradient(top, darkslategrey 5%, #ccc 100%);
    background:-o-linear-gradient(top, darkslategrey 5%, #ccc 100%);
    background:-ms-linear-gradient(top, darkslategrey 5%, #ccc 100%);
    background:linear-gradient(to bottom, darkslategrey 5%, #ccc 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff',GradientType=0);
    background-color:darkslategrey;
}
.searchbutton:active {
    position:relative;
    top:1px;
}

.statetable {
    position: relative;
    left: 500%;
    top: 250px;
    bottom: 175px;
}