<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Account</title>
</head>
<body>

<div>
    <form action="#" th:action="@{/createAccountForm/createAccount}" th:object="${user}" method="post">
        <div><label> User Name : <input type="text" th:field="*{username}" name="username"/> </label></div>
        <div><label> Password: <input type="password" th:field="*{password}" name="password"/> </label></div>
        <div><input type="submit" value="Create Account"/></div>
    </form>
</div>
</body>
</html>