<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
   <link rel="stylesheet" type="text/css" href="/static/css/homepage.css">
    <title>Autobahn</title>
</head>
<body>

<div class="titleAutobahn">
    <h1><span th:text="${appName}"></span></h1>
</div>



<!--<p>Click <a th:href="@{/login}">here</a> to see a greeting.</p>-->
<div class="loginAction">
    <form  th:action="@{/createAccountForm/createAccount}" th:method="get">
        <button type="submit">Register Here!</button>
    </form>
</div>

<div class="carSearchForm">

    <form action="#" th:action="@{/searchcarsform}" method="get">
        <button type="submit">Search</button>

    </form>


</div>

<!--<p>Click <a th:href="@{/createAccountForm}">here</a> to register</p>-->

</body>
</html>